.single-fact {
    text-align: center;
    margin: 45px 0;
    padding: 8px 16px;
    border-right: 1px solid #ddd;
}
.single-fact i{
    color: #000;
}

.single-fact h2 {
    font-size: 36px;
    margin-top: 10px;
    font-weight: 400;
}

.single-fact p {
    font-size: 14px;
}

.fact-box {
    box-shadow: 0px 20px 30px rgba(153, 153, 153, 0.2);
}

h2 {
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin: 20px 0 30px;
}

.col-center {
    margin: 0 auto;
    float: none !important;
}

.carousel {
    margin: 50px auto;
    padding: 0 0;
}

.carousel .item {
    color: #000;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
}

.carousel .item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}

.carousel .testimonial {
    padding: 30px 50px 10px;
}

.carousel .overview b {
    text-transform: uppercase;
    color: #7AA641;
}

.carousel .carousel-control {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}

.carousel-control i {
    font-size: 68px;
    line-height: 40px;
    position: absolute;
    display: inline-flex;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel .carousel-indicators {
    bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 15px;
    height: 1.5px;
    margin: 1px 2px;
    border-radius: 50%;
}

.carousel-indicators li {
    background: #000;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
    background: #000;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}
     /*Clearing Floats*/
     .cf:before, .cf:after{
        content:"";
        display:table;
    }
    
    .cf:after{
        clear:both;
    }
    
    .cf{
        zoom:1;
    }    
    /* Form wrapper styling */
    .form-wrapper {
        width: 450px;
        padding: 15px;
       
        background: #444;
        background: rgba(0,0,0,.2);
        border-radius: 10px;
        box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    }
    
    /* Form text input */
    
    .form-wrapper input {
        width: 330px;
        height: 40px;
        padding: 10px 5px;
        float: left;   
        font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background: #eee;
        border-radius: 3px 0 0 3px;     
    }
    
    .form-wrapper input:focus {
        outline: 0;
        background: #fff;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
    .form-wrapper input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
    .form-wrapper input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
    .form-wrapper input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }   
    
    /* Form submit button */
    .form-wrapper button {
        overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 110px;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #d83c3c;
        border-radius: 0 3px 3px 0;     
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }  
    
    .form-wrapper button:hover{    
        background: #e54040;
    }  
    
    .form-wrapper button:active,
    .form-wrapper button:focus{  
        background: #c42f2f;
        outline: 0;  
    }
    
    .form-wrapper button:before { /* left arrow */
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #d83c3c transparent;
        top: 12px;
        left: -6px;
    }
    
    .form-wrapper button:hover:before{
        border-right-color: #e54040;
    }
    
    .form-wrapper button:focus:before,
    .form-wrapper button:active:before{
            border-right-color: #c42f2f;
    }     
    
    .form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
        border: 0;
        padding: 0;
    }   